body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-weight: 200 !important;
}

h2 {
  font-weight: 300 !important;
}

/*-----------------------------CATEGORY---------------------------- */

.products-banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color:  rgb(36, 36, 36);
  
}

.products-banner-title {
  text-align: center;
}

products-banner-content {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  background-color:  rgb(36, 36, 36);
  
}


/*-----------------------------CARD---------------------------- */

.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: rgb(49, 49, 49);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  min-height: 10%;
  min-width: 10%;
  color: white;
}

.card-title {
  font-size: 22px;
  font-weight: 300 !important;
}

.card-title-line {
  border: 1px solid white;
  width: 100%;
}

.card:hover {
  background-color: #c9c9c9;
  border-color: black;
  color: black;
}

.card-image {
  max-width: 80%;
  max-height: 40vh;
  margin: 5px;
}


/*-----------------------------CSS TRANSITION GROUP ANIMATIONS---------------------------- */

/* appear - on page load */
.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  z-index: 1;
  transition: opacity 1000ms ease-in;
}


/* exit */
.fade-exit {
  opacity: 1;
  position: absolute;
  
  transform : scale(1);
}

.fade-exit.fade-exit-active {
  opacity: 0;
  z-index: 0;
  transform : scale(0);
  transition: opacity 100ms ease-in, transform 100ms linear;
  position: absolute;
  
  width: 0%;
  
}

.fade-exit-done {
  opacity: 0;
  z-index: 0;
  position: absolute;
  width: 0%;
}

/* slide enter 
.slide-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  z-index: 1;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 1000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
}

/* slide exit 
.slide-exit {
  opacity: 1;
  transform: scale(1) translateY(0);


}

.slide-exit.slide-exit-active {
  opacity: 0;
  z-index: 0;
  transform: scale(0.97) translateY(0);
  transition: opacity 300ms linear, transform 10ms linear;

}

.slide-exit-done {
  opacity: 0;
}

*/