
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 50vh;
    border: 2px solid red;
    min-width: 720px;

}

.main-slogan {
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;

}

.main-slogan-phrase {
    font-size: 22px;
    font-weight: 500 !important;
}
.main-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 50%;
    
    
}
.main-logo img{
    max-width: 100%;
    min-height: 250px;

}
.main-logo-dynamic {
    background-color: blue;
    min-height: 30px;
    width: 100%;
}


