.navbar{
    display: flex ;
    justify-content: space-between;
    width: 100%;
    min-width: 720px;
    align-items: center;
}

.navbar-titles {
    display: flex;
    flex-direction: row;
}

.navbar-title{
    margin:30px
}

nav ul{
    list-style: none;
}
img {
    max-width: 30%;
    height: 80px;
    margin-left: 70px;
}
