.navbar{
    display: flex ;
    justify-content: space-between;
    width: 100%;
    min-width: 720px;
    align-items: center;
    
}

.navbar-titles {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.navbar-title{
    
    margin:30px
}
.navbar-title-container {


  }

.navbar-title:hover {
    text-decoration: underline;
    margin-bottom: 10px;
  }

nav ul{
    list-style: none;
}
.navbar-img {
    max-width: 30%;
    height: 80px;
    margin-left: 70px;
    cursor: pointer;
   
}
