
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 45vh;
    min-width: 720px;
   
    
}

.hero__slogan {
}

.hero__slogan-text {
    font-size: 22px;
    font-weight: 500 !important;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    
}

.hero__slogan-dynamic-text {
    background-color: black;
    font-family: 'Fjalla One', sans-serif;
    min-height: 30px;
    width: 100%;
    color: ivory;
    text-align: center;
    font-size: 22px;
    margin: 1vh;
}


