
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 20% 5%;
    background: blue;
    text-align: justify;

}

.post__title {
    text-align: center;
    align-items: center;
    display:flex;

}
.post__main-excerpt{
    text-align: justify;
    max-width: 70%;
}



.post__main-content iframe{
    font-size:16px;
    text-align: center;
    align-self: center;
}

img {
    max-width: 100%;
    height: auto;
}

.wp-caption {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

.wp-caption-text {
    font-size: 16px;
    text-align: center;
}


.wp-caption img{
    max-width:60%;
    height:auto;
}

.wp-caption:hover img{
    max-width:65%;
    height:auto;
}

.html5-video-player {
    align-self: center;
}