
.post-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 20% 5%;
}

.post-main-title {
    text-align: center;
}
.post-main-excerpt{
    text-align: justify;
    max-width: 70%;
}
.post-main-content {
    display: flex;
    flex-direction: Column;
    align-items: center;
    text-align: justify;
}
.post-main-content p{
    border: blue 2px solid;
}
.post-main-content iframe{
    font-size:16px;
    text-align: center;
    align-self: center;
}

.post-main-content img {
    max-width: 650px;
    height: auto;
    border: red 2px solid;
}

.wp-caption {
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

.wp-caption-text {
    font-size: 16px;
    text-align: center;
}


.wp-caption img{
    max-width:60%;
    height:auto;
}

.wp-caption:hover img{
    max-width:80%;
    height:auto;
}

.html5-video-player {
    align-self: center;
}