.navbar{
    display: flex ;
    background: white;
    justify-content: space-between;
    width: 100%;
    min-width: 720px;
    align-items: center;
    
    
}

.navbar-titles {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-right: 5%;
}

.navbar-title{   
    margin:30px;
    list-style: none;
}
.navbar-title-container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
  }

.navbar-title:hover {
    text-decoration: underline;
  }

nav ul{
    list-style: none;
}
.navbar-img {
    max-width: 30%;
    height: auto;
    margin: 1%;
    margin-bottom: 1rem;
    cursor: pointer;
   
}




.stockButton {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to top, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:1px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.stockButton:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.stockButton:active {
	position:relative;
	top:1px;
}

        