.navbar{
    display: flex ;
    background: white;
    justify-content: space-between;
    width: 100%;
    min-width: 720px;
    align-items: center;
    
    
}

.navbar-titles {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-right: 5%;
}

.navbar-title{   
    margin:30px;
    list-style: none;
}
.navbar-title-container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
  }

.navbar-title:hover {
    text-decoration: underline;
  }

nav ul{
    list-style: none;
}
.navbar-img {
    max-width: 30%;
    height: auto;
    margin: 1%;
    margin-bottom: 1rem;
    cursor: pointer;
   
}
